@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a stylist</h1>

@using (Html.BeginForm())
{
  <p>Name:</p>
  <p>@Html.TextBoxFor(model => model.StylistName, new { @class = "", placeholder="Required", required="required"})</p>
  <p>Details:</p>
  <p>@Html.TextBoxFor(model => model.StylistDetails, new { @class = "", placeholder="Required", required="required"})</p>
  <br>
  <input type="submit" value="Save stylist" class="btn" />
}
<br>
<div>
  <span>
      <span>@Html.ActionLink("Back to stylists", "Index")</span>
      <br>
      <span>@Html.ActionLink("Back to home", "Index", "Home")</span>
  </span>
</div>
