@{
  Layout = "_Layout";
}
<div>
  <h1>Welcome to Eau Claire's Salon!</h1>
  <p>Lets see what we can do for you.</p>
</div>
<div>
  <span>@Html.ActionLink("See all clients", "Index", "Clients")</span> 
  <br>
  <span>@Html.ActionLink("See all stylists", "Index", "Stylists")</span>
</div>